* {margin: 0px; padding: 0px; box-sizing: border-box;}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,900,900italic);

/* VERT = #24890D*/

/*---------------CSS NAVBAR HAUT--------------
----------------------------------------------*/

.navbar-brand {/*Css du titre de la NavBar*/
	color: white !important;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1em;
}

.nav-style {background-color: black;}

.dropdown {/*Css menu loupe*/
	background-color: #24890D;
	float: right;
	text-align: center;
}

.pull-right {
	width: 50px;
	height: 50px;
	background-color: #24890D;
	border: none;
	margin: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
}

#search {
	width: 910px;
}

.navbar-toggle {/*Css icon-bar*/border:none;}

.nav-liens {/*Css des liens de la navbar*/
	color: white !important;
	font-size: 0.7em;
}

.nav-liens:hover {
	background-color: #24890D !important;
}

i {color: #F58900;}