* {margin: 0px; padding: 0px; box-sizing: border-box;}
@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic,900,900italic);
body {margin-top: 50px; background-color: black;}
/* VERT = #24890D*/

.container2 {
	background-color: red;
}

/*---------------CSS NAVBAR HAUT--------------
----------------------------------------------*/


/*CSS TITRE NAVBAR*/

	.navbar-brand {
		color: white !important;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		font-size: 1.2em !important;
	}

	.nav-style {background-color: black;
	}



/*CSS DE LA LOUPE + MENU DEROULANT LOUPE*/

	.dropdown {
		background-color: #24890D;
		float: right;
		text-align: center;
	}

	.pull-right {
		width: 50px;
		height: 50px;
		background-color: #24890D;
		border: none;
		margin: 0px;
		border-radius: 0px;
		box-shadow: 0px 0px 0px;
	}

	#search {
		width: 300px;
		height: 30px;
		}



/*CSS DE LA NAV FORMAT SMART*/

	.navbar {
		margin-bottom: 0px !important;
		border-radius: 0px !important;
	}

	.navbar-toggle {
		border:none;
	}

	.icon-bar {
		border-radius: 0px !important; width: 15px !important;
	}

	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: black;
	}



/*CSS LIENS NAVBAR + FORM SEARCH*/

	.nav-liens {
		color: white !important;
		font-size: 0.7em;
	}

	.nav-liens:hover {
		background-color: #24890D !important;
	}

	i {color: #F58900;}

	.form-control {
		width: 50%;
		height: 20px;
		font-size: 0.7em;
		float: right;
		margin-right: 10px;
		border:none;
		border-radius: 2px;
	}


/*---------------CSS NAVBAR GAUCHE--------------
----------------------------------------------*/
/*Css navbar vertical*/

nav#sidebar-wrapper{ /*Css positionnement + background*/
	background-color: black;
	padding: 0px;
	/*width:225px;*/
	z-index: 100;	
}

nav#sidebar-wrapper li a{ /*Liens de la navbar*/
	font-size: 11px;
	border-bottom: solid 1px grey;

}
ul.sidebar-nav > li i{ /*Position des glyphicons*/
	float:right;
	
}
.sidebar-brand h2.name-navbar{ /*Css h2*/
	font-size:0.9em;
	text-align: center;
	color: grey;
}


.navbar-brand {
	color: white !important;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 0.8em;
}


.nav-style {
	background-color: black;
}
input.form-control{/*Barre de recherche - Dimension + background*/
	width: 70%;
	height: 25px;
	float: left;
	margin-left: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #191919;
	
}
input#focusedInput{/*Bordure de la  barre de recherche*/
	border: solid 1px grey;
}
/*Informations complémentaire de la barre de navigation*/

p.recent {
	
	color: white;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom:0px;


}


p.release{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 13px;
	color: grey;
	font-style: italic;

}

p.listen {

	color: white;
	text-decoration: none;
	margin-bottom: 70px;
	font-size: 12px;
}
p.listen a{
	color: white;
}
p.listen a:hover{
	color: #24890D;
	text-decoration: none;
}
/*Titre list*/
p.remerciements{
	color: white;
	
	font-size: 11px;
	font-weight: 800;
	
}
/*List*/
ul.noms-artistes{ 
	list-style: none;
	margin-bottom: 80px;
	font-size: 18px;
}
li.artistes a{
	color:white;

}

li.artistes a:hover{
	color: #24890D;
	text-decoration: none;
}
p.site{
	color: grey;
	font-size: 12px;
	padding-left: 0px; 
	padding-right: 0px;
	

}
p.site a {
	color: white;
	text-decoration: none;
}
p.site a:hover{
	color: #24890D;
	text-decoration: none;
}



/*CSS DE LA LOUPE + MENU DEROULANT LOUPE*/

	.dropdown {
		background-color: #24890D;
		float: right;
		text-align: center;
	}

	.pull-right {
		width: 50px;
		height: 50px;
		background-color: #24890D;
		border: none;
		margin: 0px;
		border-radius: 0px;
		box-shadow: 0px 0px 0px;
	}

	#search {
		width: 300px;
		height: 30px;
		}



/*CSS DE LA NAV FORMAT SMART*/

	.navbar-toggle {
		border:none;
	}

	.icon-bar {
		border-radius: 0px !important; width: 15px !important;
	}

	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: black;
	}



/*CSS LIENS NAVBAR + FORM SEARCH*/

	.nav-liens {
		color: white !important;
		font-size: 0.7em;
	}

	.nav-liens:hover {
		background-color: #24890D !important;
	}

	i {color: #F58900;}

	.form-control {
		width: 50%;
		height: 20px;
		font-size: 0.7em;
		float: right;
		margin-right: 10px;
		border:none;
		border-radius: 2px;
	}


/*---------------IMAGES--------------
----------------------------------------------*/

/* CSS DIV NOIR IMG*/

.img-3 {
	padding: 0px;
	margin: 0px;
}

.fond-div-img {
	background-color: #2D241E;
}

.fond-div-img:hover {
	background-color: #130E0A;
	transition-duration: 2s;
}

.class-div-noire {
	background-color: black;
	height: 90px;
	width: 100%;
	padding-top: 0px;
}

h5 {
	color: white;
	padding-left: 10px;
	padding-top: 15px;
	padding-right: 15px;
	font-family: "Lato" sans-serif;
	font-size: 0.8em;
	margin-top: 0px;
}

.text-img {
	font-family: "Lato" sans-serif;
	font-size: 0.85em;
	color: white;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
}

/*CSS SECTION BLANCHE*/

.div-blanche, .div-blanche2{
	border: 1px solid red;
	height: 1000px;
	background-color: white;
}

.container-div-blanche {
}

/*---------------FOOTER--------------
----------------------------------------------*/

footer{
	background-color: black;
	padding: 0px;
	margin: 0px;
}

.text-footer {
	margin: 10px;
	color: grey;
	font-family: "Lato" sans-serif;
	font-size: 12px;
}
p.text-footer a{
	color: grey;
}
p.text-footer a:hover{
	color:#24890D;
	text-decoration: none;
	cursor: pointer;
}